.input[type='range'] {
  position: absolute;
  top: -9px;
  height: 7px;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
}

.input[type='range']::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #b0b0b0;
  background-color: white;
  pointer-events: auto;
  -webkit-appearance: none;
}
